<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div>
      <img src="assets/profile/profile.jpg"/>
    </div>
    <ion-card-content>
      <ion-card-title>
        Allen Lubebe
      </ion-card-title>
      <ion-list>
        <ion-item>
          <ion-icon color="primary" name="pin" item-start></ion-icon>
          Mabibo
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="phone-portrait" item-start></ion-icon>
          +255715123456
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="mail" item-start></ion-icon>
          info@info.com
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="ios-information-circle" item-start></ion-icon>
          Male
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
