<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="main">
  <div text-center *ngIf="spinner">
    <ion-spinner class="ion-spinner" name="bubbles"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <img src="assets/imgs/b.jpeg"/>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col col-12 text-center>
      <h1><strong><b>GAS AGENT APP</b></strong></h1>
    </ion-col>
  </ion-row>

  <ion-list>
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="email" placeholder="Email" name="email"
                         [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password"
                         [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button color="secondary" type="submit" [disabled]="!registerForm.valid">
              <ion-icon name="log-in"></ion-icon>
              <pre> </pre>
              Login
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>

  </ion-list>
  <button color="danger" ion-button full (click)="signup()">
    <ion-icon name="md-people"></ion-icon>&nbsp;&nbsp;First time, Sign Up
  </button>
  <button ion-button color="danger" block clear text-upper-alphacase (click)="resetpassword()"><strong><b>Reset
    Password</b></strong></button>
</ion-content>
