<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="spinner">
    <ion-spinner class="ion-spinner" name="bubbles"></ion-spinner>
  </div>
  <h5 text-center>Register As</h5>
  <div padding>
    <ion-segment [(ngModel)]="userAs">
      <ion-segment-button value="customer">
        Customer
      </ion-segment-button>
      <ion-segment-button value="agent">
        Agent
      </ion-segment-button>
      <ion-segment-button value="supplier">
        Supplier
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="userAs">
    <ion-list *ngSwitchCase="'customer'">
      <form (ngSubmit)="addCustomer()" #customerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="Name" name="name"
                           [(ngModel)]="registerCustomer.name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" placeholder="Phone" name="phone"
                           [(ngModel)]="registerCustomer.phone" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email"
                           [(ngModel)]="registerCustomer.email" required></ion-input>
              </ion-item>

            </ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <button ion-button color="secondary" type="submit" [disabled]="!customerForm.valid" full>
                    <ion-icon name="log-in"></ion-icon>
                    <pre> </pre>
                    Register Customer
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>

    <ion-list *ngSwitchCase="'agent'">
      <form (ngSubmit)="addAgent()" #agentForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="Name" name="name"
                           [(ngModel)]="registerAgent.name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" placeholder="Phone" name="phone"
                           [(ngModel)]="registerAgent.phone" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Supplier</ion-label>
                <ion-select [(ngModel)]="registerAgent.supplier_id" [ngModelOptions]="{standalone: true}">
                  <ion-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email"
                           [(ngModel)]="registerAgent.email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label (tap)="onAgentLocation()">Location&nbsp;&nbsp;{{locationName}}</ion-label>
              </ion-item>
            </ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <button ion-button color="secondary" type="submit" [disabled]="!agentForm.valid" full>
                    <ion-icon name="log-in"></ion-icon>
                    <pre> </pre>
                    Register Agent
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
    <ion-list *ngSwitchCase="'supplier'">
      <form (ngSubmit)="addSupplier()" #supplierForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="Name" name="name"
                           [(ngModel)]="registerSupplier.name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="number" placeholder="Phone" name="phone"
                           [(ngModel)]="registerSupplier.phone" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email"
                           [(ngModel)]="registerSupplier.email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label (tap)="onSupplierLocation()">Location&nbsp;&nbsp;{{locationName}}</ion-label>
              </ion-item>
            </ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <button ion-button color="secondary" type="submit" [disabled]="!supplierForm.valid" full>
                    <ion-icon name="log-in"></ion-icon>
                    <pre> </pre>
                    Register Supplier
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </div>
</ion-content>
