<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>
      Agent
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list *ngIf="customer">
      <h6 text-center>Hello there! would you like to be our agent??</h6>
      <p text-center>Please contact us at 0715123456</p>

      <ion-list-header>
        Notifications
      </ion-list-header>
      <ion-item *ngFor="let item of notifications">
        <ion-icon item-start name="mail" color="secondary">
        </ion-icon>
        Pay For your orders
        <button ion-button icon-left color="secondary" (click)="onViewNotification(item)" item-end>
          <ion-icon name="eye"></ion-icon>
          View
        </button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="agent">
      <ion-list-header>
        Notifications
      </ion-list-header>
      <ion-item *ngFor="let item of notifications">
        <ion-icon item-start name="mail" color="secondary">
        </ion-icon>
        Gas Request
        <button ion-button icon-left color="secondary" (click)="onViewNotification(item)" item-end>
          <ion-icon name="eye"></ion-icon>
          View
        </button>
      </ion-item>
    </ion-list>
    <ion-list-header>
      Logout
    </ion-list-header>
    <button ion-button (click)="onLogOut()" full>Log out</button>
  </ion-list>
</ion-content>
