<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title text-center>payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-4 (click)="onTigo()">
        <img src="assets/mobile-money/tigo.png" alt="">
      </ion-col>
      <ion-col col-4 (click)="onVoda()">
        <img src="assets/mobile-money/m-pesa-logo.jpg" alt="">
      </ion-col>
      <ion-col col-4 (click)="onAirtel()">
        <img src="assets/mobile-money/airtel.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngIf="tigo">
      <h6 text-center>Welcome to tigo Pesa</h6>
      <form [formGroup]="tigoForm">
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='phone-portrait' item-start></ion-icon>
          <ion-textarea placeholder="Tigo Phone Number" formControlName="phone">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='cash' item-start></ion-icon>
          <ion-textarea placeholder="Amount" formControlName="amount">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='barcode' item-start></ion-icon>
          <ion-textarea placeholder="tigo pesa pin" formControlName="pin">
          </ion-textarea>
        </ion-item>

      </form>
    </ion-row>
    <ion-row *ngIf="voda">
      <h6 text-center>Welcome to M Pesa</h6>
      <form [formGroup]="vodaForm">
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='phone-portrait' item-start></ion-icon>
          <ion-textarea placeholder="Voda Phone Number" formControlName="phone">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='cash' item-start></ion-icon>
          <ion-textarea placeholder="Amount" formControlName="amount">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='barcode' item-start></ion-icon>
          <ion-textarea placeholder="M pesa pin" formControlName="pin">
          </ion-textarea>
        </ion-item>

      </form>
    </ion-row>
    <ion-row *ngIf="airtel">
      <h6 text-center>Welcome to Airtel Money</h6>
      <form [formGroup]="airtelForm">
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='phone-portrait' item-start></ion-icon>
          <ion-textarea placeholder="Airtel Phone Number" formControlName="phone">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='cash' item-start></ion-icon>
          <ion-textarea placeholder="Amount" formControlName="amount">
          </ion-textarea>
        </ion-item>
        <ion-item>
          <!--<ion-toggle checked="false"></ion-toggle>-->
          <ion-icon name='barcode' item-start></ion-icon>
          <ion-textarea placeholder="airtel money pin" formControlName="pin">
          </ion-textarea>
        </ion-item>

      </form>
      <button *ngIf="airtel || voda || tigo " color="danger" ion-button full (click)="paymentTransaction()">
        <ion-icon name="md-people"></ion-icon>&nbsp;&nbsp;Pay
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
