<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center *ngIf="spinner">
    <ion-spinner class="ion-spinner" name="bubbles"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <img src="assets/imgs/b.jpeg"/>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col col-12 text-center>
      <h1><strong><b>GAS AGENT APP</b></strong></h1>
    </ion-col>
  </ion-row>
  <form (ngSubmit)="signUp()" #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-input type="text" placeholder="Name" name="name"
                       [(ngModel)]="registerCredentials.name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="email" placeholder="Email" name="email"
                       [(ngModel)]="registerCredentials.email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" name="password"
                       [(ngModel)]="registerCredentials.password" required></ion-input>
          </ion-item>

        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button color="secondary" type="submit" [disabled]="!registerForm.valid">
                <ion-icon name="log-in"></ion-icon>
                <pre> </pre>
                Register
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
