page-agent {
  .background-image {
    background-size: cover;
    background-position: center;
    height: 50vw;
  }

  .ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #ff6b00;
  }
}
