<!--
  Generated template for the AgentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title text-center>agent</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onPayment()">
        Payment
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="background-image" [style.background-image]="'url(' + backgroundImage + ')'"
       style="text-align: center; padding-top: 15%"></div>

  <ion-list>
    <ion-item>
      <ion-icon color="danger" name="briefcase" item-start></ion-icon>
      name: {{agent.name}}
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" name="pin" item-start></ion-icon>
      location: {{agent.location}}
    </ion-item>
    <ion-item>
      <ion-icon color="primary" name="contact" item-start></ion-icon>
      contact: {{agent.phone}}
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button color="primary" ion-button round full>Call</button>
      </ion-col>
      <ion-col col-6>
        <button color="danger" ion-button round full (click)="orderPressed()" [disabled]="!orderForm.valid">Press
          Order
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <form [formGroup]="orderForm">

    <ion-item>
      <ion-icon name='add-circle' item-start></ion-icon>
      <ion-label>Weight</ion-label>
      <ion-select formControlName="weight" (ionChange)="onWeightChange()">
        <ion-option *ngFor="let  item of items" [value]="item.weight">
          {{item.weight}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <!--<ion-toggle checked="false"></ion-toggle>-->
      <ion-icon name='cash' item-start></ion-icon>
      <ion-label>Price&nbsp;&nbsp;{{gasPrice}}</ion-label>
    </ion-item>

  </form>
</ion-content>
